

{% extends "base.html" %}
{% load static %}

{% block title %}Pipe's Pastelería{% endblock title %}

{% block contenido %}
        <div class="hero-images">
            <img src={% static 'img/Medialunas.jpg' %} alt="Imagen 1">
            <img src={% static 'img/Medialuna1.jpg' %} alt="Imagen 2">
            <img src={% static 'img/Apple Roll.jpg' %} alt="Imagen 3">
        </div>
        <div class="hero-content">
            <div class="hero-header">
                <img src={% static 'img/LogoPipesBlanco.png' %} alt="Logo" class="logo">

            </div>
        </div>
{% endblock contenido %}


