<style>
    /* Estilos para cada producto */
    .producto {
        width: 200px;
        padding: 10px;
        background: #FF5733; 
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 2px 6px rgba(255, 255, 255, 0.37);
        transition: transform 0.3s;
        margin-bottom: 20px;  /* Espaciado adicional entre los productos */

    }
    .producto:hover {
        transform: scale(1.05);
    }
    .producto img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
    }
    .producto h3 {
        font-size: 16px;
        margin: 10px 0;
        color: #f5f5f5;
    }
    .producto p {
        font-size: 14px;
        color: #f5f5f5;
        font-weight: bold;
    }

    /* Estilos del contenedor de productos */
    .productos-container {
        position: absolute;
        top: 50%;  
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        background: rgba(0, 0, 0, 0.5);
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        z-index: 2;
        max-height: 600px;  /* Ajusta la altura según tus necesidades */
        overflow-y: auto;  /* Activa el scroll vertical si el contenido excede la altura */        
    }

    /* Estilos del buscador */
    .buscador {
        position: absolute;
        top: 15%; 
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        width: 80%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 15px;
        border-radius: 5px;
        text-align: center;
    }

    h1 {
        text-align: center;
        font-size: 32px;
        margin-bottom: 30px;
        color: #f5f5f5;
    }

    label {
        font-size: 18px;
        margin-bottom: 15px;
        color: #f5f5f5;
    }

    .buscador input[type="text"] {
        width: 80%;
        padding: 15px;
        font-size: 18px;
        border-radius: 25px;
        border: 1px solid #ccc;
        outline: none;
        box-shadow: 0 0 5px rgb(0, 0, 0);
        color: #f5f5f5;
        background-color: rgba(255, 88, 51, 0.07);
        transition: border-color 0.3s;
        margin-bottom: 15px; 
    }

    .buscador input[type="text"]:focus {
        border-color: #FF5733;
    } 

    .btn-ver-mas {
        background-color: #FF5733;
        color:rgb(255, 255, 255);
        padding: 10px;
        border-radius: 20px;
        border: #f5f5f5;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s ease;
        margin-top: 20px;
    }
    
    .btn-ver-mas:hover {
        background-color: #f5f5f5;
        color: #FF5733;
    }

    .btn-crear-producto {
        background-color: #FF5733;
        color: white;
        padding: 8px 15px;
        border-radius: 20px;
        font-weight: bold;
        border: 2px solid white;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        position: relative;
        transition: all 0.3s ease;
    }
    
    .btn-crear-producto:hover {
        background-color: #f5f5f5;
        color: #FF5733; /* Cambia el color del texto si lo deseas */
        border-color: #FF5733; /* Cambia el borde si lo deseas */
    }

    .crear {
        position: fixed;
        top: 45%;  /* Centra el div verticalmente */
        left: 0;  /* Ubica el div en el costado derecho */
        transform: translateY(-50%);  /* Ajusta el centro verticalmente para un ajuste perfecto */
        width: 200px;  /* Ancho del div */
        padding: 20px;
        border-radius: 10px;
        z-index: 2;  /* Asegura que se vea por encima de otros elementos */
    }
    
    
</style>

{% extends "base.html" %}
{% load static %}

{% block title %}Lista de productos - Pipe's Pastelería{% endblock title %}

{% block contenido %}
        <div class="hero-images">
            <img src={% static 'img/Medialunas.jpg' %} alt="Imagen 1">
            <img src={% static 'img/Medialuna1.jpg' %} alt="Imagen 2">
            <img src={% static 'img/Apple Roll.jpg' %} alt="Imagen 3">
        </div>


        <div class="buscador">
            <h1>Buscar Producto</h1>
            <form method="">
                {{ formulario.nombre }}
            </form>
        </div>

        <div class="productos-container">
            {% for producto in productos %}
            <div class="producto">
                {% if producto.foto %}
                <img src="{{ producto.foto.url }}" onclick="window.location.href='{% url 'ver_productos' producto.id %}'" alt="{{ producto.nombre }}">
            {% else %}
                <img src="{% static 'img/LogoPipesBlanco.png' %}" onclick="window.location.href='{% url 'ver_productos' producto.id %}'" alt="Imagen no disponible">
            {% endif %}
                <h3>{{ producto.nombre }}</h3>
                <p>${{ producto.precio }}</p>
                <button type="button" class="btn-ver-mas" onclick="window.location.href='{% url 'ver_productos' producto.id %}'">Ver más</button>
            </div>
            {% endfor %}
        </div>

        <div class = "crear">
            <button type="button" class="btn-crear-producto" onclick="window.location.href='{% url 'crear_producto' %}'">Crear Producto</button>
        </div>
{% endblock contenido %}


