<style>

    
    .producto-detalle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        width: 80%;
        max-width: 800px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 2;
        margin-bottom: 15px;
    }

    .producto-detalle h1 {
        text-align: center;
        font-size: 32px;
        margin: 15px;
        margin-bottom: 30px;
        color: #f5f5f5;
    }
    

    .producto-detalle p {
        color:rgb(255, 255, 255);
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .producto-detalle img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 50px;
        margin: 0 auto;
        display: block;
    }
    
    .btn-volver {
        background-color: #FF5733;
        color: white;
        padding: 8px 15px;
        border-radius: 20px;
        font-weight: bold;
        border: 2px solid white;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        position: relative;
        transition: all 0.3s ease;
    }

    .btn-volver: hover {
        background-color: #f5f5f5;
        color: #FF5733;
        border-color: #FF5733;
    }

    /* Estilos responsivos */
    @media (max-width: 768px) {
        .producto-detalle {
            width: 90%;
        }
    
        .producto-detalle h1 {
            font-size: 24px;
        }
    
        form input[type="submit"] {
            padding: 12px;
        }
    }
    
</style>

{% extends "base.html" %}
{% load static %}

{% block title %}{{ producto.nombre }} - Pipe's Pastelería{% endblock %}

{% block contenido %}

<div class="hero-images">
    <img src={% static 'img/Medialunas.jpg' %} alt="Imagen 1">
    <img src={% static 'img/Medialuna1.jpg' %} alt="Imagen 2">
    <img src={% static 'img/Apple Roll.jpg' %} alt="Imagen 3">
</div>

    <div class="producto-detalle">
        <h1>{{ producto.nombre }}</h1>
        <img src="{{ producto.foto }}" alt="{{ producto.nombre }}">
        {% if producto.descripcion %}
        <p> {{ producto.descripcion }}</p>
        {% endif %}
        <p><strong>Precio:</strong> ${{ producto.precio }}</p>
        {% if request.user.is_authenticated %}
        <p><strong>Stock: </strong>{{ producto.stock }}</p>
        <p><strong>Fecha de Lanzaminto: </strong>{{ producto.fecha_creacion|date:"d M Y" }}</p>
        {% endif %}
        <a href="{% url 'productos' %}" class="btn-volver">Volver a la lista</a>
        <a href="{% url 'modificar_productos' pk=producto.id %}" class="btn-volver">Modificar producto</a>
        <a href="{% url 'eliminar_productos' pk=producto.id %}" class="btn-volver">Eliminar producto</a>
    </div>
{% endblock %}