<style>
    /* Contenedor principal del formulario */
    .form-container1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        width: 80%;
        max-width: 800px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 2; 
    }

    /* Título del formulario */
    .form-container1 h1 {
        text-align: center;
        font-size: 32px;
        margin-bottom: 30px;
        color: #f5f5f5;
    }

    /* Título del formulario */
    .form-container1 label {
        font-size: 18px;
        margin-bottom: 10px;
        color: #f5f5f5;
    }

    /* Estilos para el formulario */
    form {
        display: flex;
        flex-direction: column;
    }

    /* Estilos para los campos de texto (nombre, apellido, email) */
    form input[type="password"],
    form textarea {
        width: 100%;
        padding: 12px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        color: #f5f5f5;
        background-color:  rgba(255, 88, 51, 0.07);
        box-sizing: border-box;
    }

    .upload-btn {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #FF5733;
        color: white;
        border: none;
        padding: 8px 15px;
        border-radius: 20px;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s ease;
    }
    
    .upload-btn:hover {
        background-color: #f5f5f5;
        color: #FF5733;
    }

    /* Cambio de borde al enfocar los campos */
    form input[type="password"]:focus,
    form textarea:focus {
        border-color: #FF5733; 
        outline: none;
    }

    /* Estilo para el botón de submit */
    .btn-submit {
        background-color: #FF5733;
        color: white;
        padding: 8px 15px;
        border-radius: 20px;
        font-weight: bold;
        border: 2px solid white;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        position: relative;
        transition: all 0.3s ease;
    }
    
    /* Efecto hover para el botón de submit */
    .btn-submit:hover {
        background-color: #f5f5f5;
        color: #FF5733; /* Cambia el color del texto si lo deseas */
        border-color: #FF5733; /* Cambia el borde si lo deseas */
    }

    /* Cambia el color del enlace de la imagen */
    a[href*="media/avatares"] {
        color: red;  /* Cambia el color del enlace */
        font-weight: bold;  /* Lo pone en negrita */
        text-decoration: none;  /* Quita el subrayado */
    }
    
    a[href*="media/avatares"]:hover {
        color: darkred;  /* Cambia el color al pasar el mouse */
        text-decoration: underline;  /* Añade subrayado en hover */
    }
    
    

    /* Estilos responsivos */
    @media (max-width: 768px) {
        .form-container1 {
            width: 80%;
            padding: 20px;
        }
        .form-container1 h1 {
            font-size: 20px;
        }
        form input[type="submit"] {
            padding: 12px;
        }
    }

    
</style>

{% extends "base.html" %}
{% load static %}


{% block title %}Logueo de usuarios{% endblock title %}

{% block contenido %}

<div class="hero-images">
    <img src={% static 'img/Medialunas.jpg' %} alt="Imagen 1">
    <img src={% static 'img/Medialuna1.jpg' %} alt="Imagen 2">
    <img src={% static 'img/Apple Roll.jpg' %} alt="Imagen 3">
</div>

<div class="form-container1">
    <h1>Cambiar Contraseña</h1>

    <form action={% url "cambiar_contraseña" %} method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{form.as_p}}

        <input type="submit" value="Cambiar Contraseña" class='btn-submit'>
    </form>
</div> 

{% endblock contenido %}